.post-card {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s;

    .title-card {
        font-size: 32px;
        padding: 10px;
        line-height: 38px;
    }

    .author-card {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #4b4b57;
    }

    .date-card {
        font-size: 13px;
        font-weight: 700;
        color: #01b7cc;
    }

    .img-card {
        width: 100%;
        border-radius: 16px;
        margin: 20px 0;
    }

    .post-body {
        width: 90%;
        margin: 0 auto;
    }

    .btn {
        padding: 4px 10px;
        border-color: #ff00ff;
        border-radius: 5px;
        margin-top: 30px;

        .link-card {
            font-size: 14px;
            color: #ff00ff;
            font-weight: 600;
        }

        .link-card::after {
            content: '→';
            width: 14px;
            height: 12px;
            display: inline-block;
            margin-left: .25em;
        }
    }

    .btn:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 10px #ff00ff;
    }

    @media (min-width: 1024px) {
        .post.card {
            width: 80%;

            .title-card {
                font-size: 40px;
                line-height: 46px;
            }

            .author-card {
                margin-top: 30px;
                font-size: 17px;
            }

            .post-body {
                width: 70%;
            }
        }

    }




}