<section>
    <h2 class="title">Últimas publicaciones sobre Tecnología</h2>
    <ul class="post-list">
        @for (post of postService.posts; track post.id) {
        <li class="post-item" [ngClass]="{selected: post.id === selectedPost}">
            <div>
                <h6 class="date">{{ post.publishDate }}</h6>
                <a [routerLink]="post.id.toString()">
                    <img class="img-post" [src]="post.image" />
                    <h3 class="post-title"> {{ post.title }} </h3>
                </a>
                <h5 class="author"> {{ post.author }} </h5>
            </div>
            <div>
                <a [routerLink]="post.id.toString()" class="post-link">Leer más</a>
                <button class="trash-icon" (click)="deletePost(post.id)">🗑</button>
            </div>
        </li>
        }
    </ul>
</section>