.title {
    text-align: center;
    color: #0f0f2e;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin: 30px 0 30px 0;
}

.post-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;

    .post-item {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;
        border-radius: 10px;
        border: 2px solid #01b7cc;
        position: relative;
        transition: all 0.3s;

        .post-title {
            font-size: 24px;
            line-height: 30px;
            margin: 10px 0px;
            color: #0f0f2e;
            font-family: "Oswald", sans-serif;
        }

        .img-post {
            width: 100%;
            margin-top: 10px;
            ;
        }

        .author {
            font-size: 16px;
            font-weight: 400;
            color: #4b4b57;
            margin-bottom: 10px;
        }

        .date {
            font-size: 13px;
            font-weight: 700;
            color: #01b7cc;
        }

        .post-link {
            font-size: 13px;
            color: #ff00ff;
            font-weight: 600;
        }

        .post-link::after {
            content: '→';
            width: 14px;
            height: 12px;
            display: inline-block;
            margin-left: .25em;
        }

        .trash-icon {
            font-size: 1.5rem;
            position: absolute;
            bottom: 20px;
            right: 20px;
            border: 0;
            border-radius: 5px;
            background-color: white;
        }

        .trash-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
            color: #ff00ff;
        }

    }

    .post-item:hover {
        border: 2px solid #ff00ff;
        transform: scale(1.03);
        box-shadow: 3px 3px 10px #ff00ff;
    }

    .post-item .post-item.selected {
        border: 1px solid #ff00ff;
        color: #ff00ff;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 42px;
    }

    .post-list {
        margin: 50px 30px;
        grid-gap: 40px;

        .post-item {}
    }
}