<section>
    <h2 class="title-newPost">Crea un nuevo post para tu Blog</h2>
    <form [formGroup]="postForm">
        <fieldset class="form-body">
            <div class="form-field">
                <label for="post-id">Post ID</label>
                <input type="text" id="post-id" name="post-id" formControlName="id"
                    placeholder="Indica la referencia de tu post" />
            </div>
            <div class="form-field">
                <label for="post-title">Título</label>
                <input type="text" id="post-title" name="post-title" formControlName="title"
                    placeholder="Da título a tu post" />
            </div>
            <div class="form-field">
                <label for="post-text">Contenido del Post</label>
                <input type="textarea" id="post-text" name="post-text" formControlName="text"
                    placeholder="Escribe el contenido de tu post" />
            </div>
            <div class="form-field">
                <label for="post-author">Autor</label>
                <input type="text" id="post-author" name="post-author" formControlName="author"
                    placeholder="Indica tu nombre" />
            </div>
            <div class="form-field">
                <label for="publish-date">Fecha de publicación</label>
                <input type="date" id="publish-date" name="publish-date" formControlName="publishDate" />
            </div>
            <button (click)="postNewPost()">Crear Post</button>
        </fieldset>
    </form>
</section>